/* ==========================================================================
   The Other Dashboard's custom styles
   ========================================================================== */
   /* Typekit failsafe */
   body,
   h1,
   h2,
   h3,
   p,
   .btn,
   .menu > li > a { visibility: visible; opacity: 1; -webkit-transition: all 1s ease-out; -moz-transition: all 1s ease-out; -o-transition: all 1s ease-out; transition: all 1s ease-out; }
   .wf-loading body,
   .wf-loading h1,
   .wf-loading h2,
   .wf-loading h3,
   .wf-loading p,
   .wf-loading .btn,
   .wf-loading .menu > li > a { visibility: hidden; opacity: 0; -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out; -o-transition: all .3s ease-out; transition: all .3s ease-out; }
   body {
   	font-family: "ff-netto-web",sans-serif !important;
   }
   h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
   	font-family: "ff-netto-web",sans-serif !important;
   	margin: 0;
   	padding: 0;
   	color: #eee;
   }
   h1 {
   	margin-bottom: 5px !important;
   }
   .position {
      border-radius: 50px;
      width: 66px;
      height: 66px;
      background: rgba(0, 0, 0, 0.5);
      display: inline-block;
      line-height: 32px !important;
      margin-bottom: 10px !important;
   }
   .center {
      text-align: center;
   }
   h2 {font-size: 20px;}
   .cf-item h2.center {
      margin-top: -15px;
   }
   .pad-top {
    padding-top: 30px;
 }
 /* Widget styles */
 .inner-content {
    padding: 15px;
    background: #666;
    height: 100%;
    overflow: hidden;
 }
 .meta {
   font-size:2em;
   position: absolute;
   right: 15px;
   bottom: 0px;
}
.articles ul {
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: 24px;
   margin-top: -2px;
}
.articles ul li {
   clear: both;
   padding: 10px 0;
}
.articles ul li strong{
   font-size: 32px;
   float: left;
   margin-right:15px;
   line-height: 1;
   text-align: center;
}
.articles ul li strong span {
   font-size:18px;
   text-transform: none;
   display: block;
}
.item h2 {
 margin-bottom: 15px;
}
.item h3 {
   margin: 15px 0;
   font-style: italic;
   color: #ccc;
}
.item .price {
   font-size: 40px;
   color: #fff;
}
.item.contributors, .sources {
   min-height: 449px;
}
.sources .cf-item {
   min-height: 180px;
}
.sources .metric {
   font-size: 3.5em;
}
.localisation .cf-pie {
   -moz-transform:scale(1.2);
   -webkit-transform:scale(1.2);
   transform:scale(1.2);
}
.gender ul {
   margin: 40px 0 3px 0;
   padding: 0;
}
.gender li {
   font-size: 50px;
   width: 10%;
   text-align: center;
   float: left;
   list-style: none;
}
.gender li .icon-female {
   color: #ff0099;
}
.gender li .icon-male {
   color: #0099ff;
}







