{
    "geonames": {
        "user" : ""
        },
    "twitter": {
        "consumer_key" : "",
        "consumer_secret" : "",
        "access_token" : "",
        "access_token_secret" : ""
    },
    "facebook": {
        "app_id" : "",
        "app_secret" : "",
        "access_token" : ""
    }
}